@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Josefin+Sans:ital@0;1&display=swap');
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;

    --primary: #E6E5DD;
    --secondary: #181618;
    --contrast: #98ED2C;
}
html,body{
    height: 100%;
    width: 100%;
}

.nav-container{
    .logo{
        h1{
            font-size: 3rem;
            font-family: "DM Serif Display", serif;

            @media screen and (min-width: 768px) and (max-width: 1023px){
                font-size: 2rem;
            }

            @media screen and (max-width: 767px){
                font-size: 1.5rem;
            }
        }
    }

    .menu{
        i{
            color: var(--secondary);
            font-size: 2rem;

            @media screen and (min-width: 768px) and (max-width: 1023px){
                font-size: 2rem;
            }
            @media screen and (max-width: 767px){
                font-size: 1.5rem;
            }
        }
    }
}